{% extends 'main.html' %}

{% block content %}
    {% for message in messages_chat %}
        <div class="message_chat">
        <span class="thread__date">{{message.received_at|time}}</span>
        <div class="sender_photo">
            <img src="{{ message.from_id.avatar.url }}">
        </div>
        <div class="text"><span>{{ message.message }} </span></div>
        </div>
    {% endfor %}
    <div style="margin-top: 172px;"></div>
<div class="form_class">
    <form method="post">{% csrf_token %}
    <input  type="text" name="sms" placeholder="Введите сообщение">
    <button type="submit">Отправить</button>
    </form>
</div>

{% endblock %}