{% extends 'main.html' %}

{% block content %}
    <div id="messages" class="block-left">
        {% for message in messages_chat %}
            <div class="message_chat">
                <span class="thread__date">{{ message.received_at|time }}</span>
                <div class="sender_photo">
                    <img src="{{ message.from_id.avatar.url }}">
                </div>
                <br>
                <div class="text"
                     style="{% if message.to_id != request.user %} background-color: rgb(179 232 243); {% elif message.to_id == request.user %} background-color: rgb(241 151 197);{% endif %}">
                    {{ message.message }}</div>
            </div>
        {% endfor %}
    </div>
    </div>


    <div class="block-right">

        <div class="about_match_user">
            <img src="{{ to_id.avatar.url }}" alt="">
            <p class="name"><strong>{{ to_id.username }}</strong> {{ to_id.birthday }}</p>
            <hr>
            <p class="gender">{{ to_id.gender }}</p>
            <hr>
            {% if to_id.bio != None %}
                <p class="bio">{{ to_id.bio }}</p>
            {% endif %}
        </div>
    </div>




    <footer>
        <div style="margin-top: 172px;"></div>
        <div class="form_class">
            <form id="form">{% csrf_token %}
                <input type="text" name="message" placeholder="Enter the message" autocomplete="off">
                <button type="submit" style="cursor: pointer">Submit</button>
            </form>
        </div>
    </footer>
    {{ request.user.email|json_script:"user_email"}}

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server${window.location.pathname}`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function (e) {
            let data = JSON.parse(e.data)
            console.log(data)
            if (data.type === 'chat') {
                let messages = document.getElementById('messages')
                const user_email = JSON.parse(document.getElementById('user_email').textContent);

                if (data.user_email == user_email) {
                    messages.insertAdjacentHTML('beforeend',

                        `<div class="message_chat">
                          <span class="thread__date">${data.time_now} p.m.</span>
                         <div class="sender_photo">
                           <img src="${data.avatar}">
                         </div>
                        <br>
                       <div class="text"
                     style="background-color: rgba(50, 194, 225, 0.42);">
                   ${data.message}
                   </div>
                 </div>`
                    )
                } else {
                    messages.insertAdjacentHTML('beforeend',

                        `<div class="message_chat">
                          <span class="thread__date">${data.time_now} p.m.</span>
                         <div class="sender_photo">
                           <img src="${data.avatar}">
                         </div>
                        <br>
                       <div class="text"
                     style="background-color: rgba(255, 133, 196, 0.42);">
                   ${data.message}
                   </div>
                 </div>`
                    )
                }
            }
            window.scrollTo(0, document.body.scrollHeight);
        }
        let form = document.getElementById('form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message,
                'users': window.location.pathname,
            }))
            form.reset()
        })

    </script>
    <script>
        window.onload = function () {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
{% endblock %}