{% extends 'main.html' %}

{% block content %}

     <div class="link_registry">
    <a href="{% url 'registry_page' %}">Register</a>
    <a href="{% url 'start_page' %}">Home Page</a>

    </div>

<div class="container_login">

        <div class="layout__box">

          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Login</h3>
            </div>
          </div>

          <div class="layout__body">
            <h2 class="auth__tagline">Seek new acquaintances</h2>

            <form class="form" action="" method="POST">{% csrf_token %}

                {% for field in form %}
              <div class="form__group form__group">
                <label for="room_name">{{ field.label }}</label>
                {{ field }}
              </div>

                 {% endfor %}

              <button class="btn btn--main" type="submit" value="Login">
                Login
              </button>
            </form>


            <div class="auth__action">
              <p>Not registered yet?</p>
              <a href="{% url 'registry_page' %}" class="btn btn--link">Register</a>
            </div>
              {% if messages %}
    <ul class="messages">
        {% for message in messages %}

            <li>
                {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
          </div>
        </div>
      </div>
<style>
   body {
    background-image: url('../../../static/pexels-photo-11116066.jpeg'); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }
  </style>
{% endblock %}