body {
    margin: 0;
    background-image: linear-gradient(to right, #d9d9d9 0%, #e2b4c8 51%, #fff4f4 100%);
    background-size: 100%;
}

.link_registry {
    text-align: center;
    margin: 0px -34px -83px;
    padding: 103px;

}

.link_registry a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 8px 13px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #ef9e9e 0%, #f03082 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    text-decoration: none;

}

.container {
    float: left;
    width: 280px;
    margin: 17px 61px;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
}

.form * {
    box-sizing: border-box;
}

.form .form__group label {
    text-align: center;
    margin-bottom: 30px;
}

.form .form__group input {
    margin-bottom: 15px;
}

.form .form__group input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group label {
    color: #777;
    font-size: 0.8em;
}

.form .form__group input[type=checkbox] {
    float: left;
}

.form .form__group input[type=password] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group input[type=email] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group select {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;

    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%, #9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207cca', endColorstr='#9f58a3', GradientType=1); /* IE6-9 */
}

.profile_navbar {

    z-index: 1000;
    background-image: linear-gradient(to right, #ef9e9e 0%, #f03082 51%, #9EEFE1 100%);
    overflow: hidden;
    -webkit-box-shadow: 0px 6px 34px -8px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 6px 34px -8px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 6px 34px -8px rgba(34, 60, 80, 0.6);

}

.logo {

    z-index: 1000;
    float: left;
    font-size: 18px;
}


.nav {

    z-index: 1000;

    float: right;
    font-weight: 500;
    line-height: 45px;
    font-size: 18px;
}


.profile_navbar .photo {
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin: 5px;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 26px;
}

.profile_navbar .logout {
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin: 17px 19px;
    display: inline-block;
    padding: 0.1em 2em;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%, #9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207cca', endColorstr='#9f58a3', GradientType=1); /* IE6-9 */

}


/*.profile_navbar img {*/
/*    float: right;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    font-size: 17px;*/
/*}*/

.profile_navbar p {
    font-family: Sans-serif;
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}


.title_start_page {
    cursor: default;
    background-size: 100px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.link_start_page {
    text-align: center;
}

.title_proflie {
    padding: 80px;
    font-family: Sans-serif;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.logo a {
    background-size: cover;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.inner {
    display: inline-block;
    width: 100% -450px / 2;
    height: 175px;
    margin: 50px 12px 19px 0;
    text-align: center;
}

.inner img {
    -webkit-box-shadow: -13px 12px 13px 4px rgb(34 60 80 / 20%);
    -moz-box-shadow: -13px 12px 13px 4px rgba(34, 60, 80, 0.2);
    box-shadow: -13px 12px 13px 4px rgb(34 60 80 / 20%);
    border-radius: 12px;
    width: 250px;
    height: 250px;
}

img {
    width: 50px;
    height: 50px;
}

/*.people img {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/


.form__group a {
    display: none;
}

.people {
    -webkit-box-shadow: -13px 12px 13px 4px rgb(34 60 80 / 20%);
    -moz-box-shadow: -13px 12px 13px 4px rgba(34, 60, 80, 0.2);
    box-shadow: -13px 12px 13px 4px rgb(34 60 80 / 20%);
    border-radius: 12px;
    display: inline-block;
    width: 100% - 1345px / 2;
    height: 180px;
    padding: 5px;
    margin: 4px -12px 31px 36px;
    text-align: center;
}

.people h3 {
    font-family: Sans-serif;
    top: 120px;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffffff;
    position: relative;
}

.people a {
    position: relative;
    top: 100px;
    text-decoration: none;
    background-color: white;
    color: #F64C72;
}


.message_chat {
    position: relative;
    z-index: -3;
    font-family: "Avenir Next", sans-serif;
    color: #ffffff;
    padding: 15px 13px;
    font-size: 24px;
}

.message_chat .thread__date {
    color: black;
    float: right;
    font-size: 13px;
}


.message_chat .text {
    color: black;
    display: inline;
    font-size: 13px;
    padding: 14px;
    border-radius: 45px;
    left: 30px;
    position: relative;
}

.message_chat .sender_photo {
    display: inline-block;
    right: 40px;
    float: left;
}


.form_class {
    z-index: -1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: #ffffff;
}

.form_class button {

    width: 145px;
    height: 49px;
    margin: 30px 96px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%, #9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207cca', endColorstr='#9f58a3', GradientType=1); /* IE6-9 */
}

.form__group img {
    width: 170px;
    height: 79px;
}

.container_nav span {
    cursor: default;
    color: #4d4d4d;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, #cad5e2 5px 5px 0;
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    top: 11px;
    left: 244px;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}

.title_start_page h1 {
    -webkit-text-stroke: 0.5px #000000;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
    #cad5e2 3px 3px 0, #cad5e2 4px 4px 0,
    #cad5e2 5px 5px 0;
    color: #c7458b;
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}

.title_proflie p {
    -webkit-text-stroke: 0.5px #000000;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
    #cad5e2 3px 3px 0, #cad5e2 4px 4px 0,
    #cad5e2 5px 5px 0;
    color: #c7458b;
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
    font-weight: 900;
    /* left: 384px; */

}


.form_class input {


    border: none;
    background-color: #f3f3f3;

    left: 10px;
    height: 48px;
    width: 740px;
    margin: 29px 52px;
    outline: none;
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;

}


.choice_container {
    position: absolute;
    display: inline-block;
    margin: 2px;
    top: 217px;
    left: 515px;
}


.container_login {
    width: 280px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
}

.form * {
    box-sizing: border-box;
}

.form .form__group label {
    text-align: center;
    margin-bottom: 30px;
}

.form .form__group input {
    margin-bottom: 15px;
}

.form .form__group input[type=email] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}


.form .form__group textarea {
    display: block;
    height: 144px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group input[type=number] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group input[type=password] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group select {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.form .form__group label {
    color: #777;
    font-size: 0.8em;
}

.form .form__group input[type=checkbox] {
    float: left;
}


.form button[type=submit] {
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;

    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%, #9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207cca', endColorstr='#9f58a3', GradientType=1); /* IE6-9 */
}


.messages {
    font-family: "Avenir Next", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    position: absolute;
    top: 108px;
    left: 41px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    color: red;

}


.form_update {
    width: 539px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
}

.block-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #fff;
}

.profile_navbar {
    height: 10%;
    position: fixed;
    width: 100%;
    margin: -1px 0;
}


.block-left {
    left: 0;
    top: 48px;
    width: 50%;
    margin-left: 48px;
    height: 100%;
    padding-top: 110px;
}

.about_match_user img {
    padding: 80px 0 9px;
    width: 430px;
    height: 410px;
}
.about_match_user{
    font-family: "Avenir Next", sans-serif;
}


.about_match_user .name {
    text-align: left;
    padding-left: 47px;
}

.about_match_user .gender {
    text-align: left;
    padding-left: 47px;
}

.about_match_user .bio {
    text-align: left;
    padding-left: 47px;
}







.rating-area {
	overflow: hidden;
	width: 214px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 19px;
	line-height: 45px;
	color: #e11fe7;
	text-shadow: 1px 1px #e564bf;
}
.rating-area:not(:checked) > label:before {
	content: '♥';

}
.rating-area > input:checked ~ label {
	color: red;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: red;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: red;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}


hr {
    border: 0.5px solid #000000;
  border-radius: 5px;
}