{% extends 'main.html' %}
{% block content %}


    <div class="link_registry">
        <a href="{% url 'login_page' %}">Войти</a>
        <a href="{% url 'start_page' %}">Главная страница</a>

    </div>

    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Register</h3>
                </div>
            </div>
            <div class="layout__body">
                <h2 class="auth__tagline">Find your partner</h2>

                <form class="form" action="" method="POST">{% csrf_token %}

                    {% for field in form %}
                        <div class="form__group form__group">
                            <label for="room_name">{{ field.label }}</label>
                            {{ field }}
                        </div>

                    {% endfor %}

                    <div class="choice_container">
                        {% for photo in ph %}
                            <div class="inner">
                                <img src="{{ photo.photo.url }}"/>
                                <div class="rating">
                                    <input type="radio" id="contactChoice{{ photo.id }}1"
                                           name="contact{{ photo.id }}" value="1" checked>
                                    <label for="contactChoice{{ photo.id }}1">1</label>
                                    <input type="radio" id="contactChoice{{ photo.id }}2"
                                           name="contact{{ photo.id }}" value="2">
                                    <label for="contactChoice{{ photo.id }}2">2</label>
                                    <input type="radio" id="contactChoice{{ photo.id }}3"
                                           name="contact{{ photo.id }}" value="3">
                                    <label for="contactChoice{{ photo.id }}3">3</label>
                                    <input type="radio" id="contactChoice{{ photo.id }}4"
                                           name="contact{{ photo.id }}" value="4">
                                    <label for="contactChoice{{ photo.id }}4">4</label>
                                    <input type="radio" id="contactChoice{{ photo.id }}5"
                                           name="contact{{ photo.id }}" value="5">
                                    <label for="contactChoice{{ photo.id }}5">5</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}