{% extends 'main.html' %}

{% block content %}

    <div class="link_registry">
        <a href="{% url 'start_page' %}">Home Page</a>

    </div>

    <div class="form_update">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Your profile</h3>
                </div>
            </div>
            <div class="layout__body">
                <img src="{{ request.user.avatar.url }}" style="width: 220px;
    height: 220px;
    padding: 18px 150px 49px;"/>

                <form class="form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

                    {% for field in form %}
                        <div class="form__group {{ field.label }}">
                            <label for="room_name">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" style="left: 50px; display: inline-block;">Save</button>
                </form>
                <form class="form" action="" method="POST">{% csrf_token %}
                    <button name="{{ request.user }}" type="submit" value="{{ request.user }}" style="background: #ca206b;
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%);
    background: -webkit-linear-gradient(left, #ca2042 0%, #58a0a3 100%);
    background: linear-gradient(to right, #ca2020 0%, #9f58a3 100%);
    filter: ">Delete profile
                    </button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}